<!-- <h1>Quejejo</h1> -->
<!-- <app-contador></app-contador> -->
<!-- <app-botones></app-botones> -->
<!-- <app-formulario></app-formulario> -->

<div class="container">
    <h1>Servicios</h1>
    <!-- <app-switch></app-switch> -->
    <!-- <app-formulario-plantilla></app-formulario-plantilla> -->
    <!-- <app-formulario-reactivo></app-formulario-reactivo> -->
    <!-- <input type="text" class="form-control mb-4" [(ngModel)]="title" /> -->
    <!-- Forma 1 de hacerlo -->
    <!-- <app-children [title]="title" (titleChange)="title = $event"></app-children> -->
    <!-- Forma 2 de hacerlo -->
    <!-- <app-children [(title)]="title" ></app-children> -->
    <app-add-messages></app-add-messages>
    <app-list-messages></app-list-messages>
</div>
<router-outlet />
